body {
	background-image: url(background.jpg);
	background-size: cover;
}

h2 {
	color: #2F7083;
	text-align: center;
	border: 5px solid #7AADBC;
	cursor: pointer;
}

p {
	/*color: pink;*/
	/*text-transform: uppercase;*/
	/*font-style: italic;*/
	font-weight: bold;
	font-family: "Poiret One", cursive;
	/*line-height: 75px;*/
	/*line-height: 5px;*/
	font-size: 20px;
}

/*The "em" unit indicates that the font will be an amount of times bigger*/
/*than the size used in the containing element.*/
span {
	font-size: 5em;
}

img {
	float: left;
}

/*The "clear" property should be used right after calling the "float", in order */
/*to suppress the efect of the "float" property to the following elements.*/
footer {
	clear: both;
	text-align: center;
}

li {
	list-style: none;
	display: inline-block;
}

.webtext {
	border: 5px dashed green;
}

.active {
	color: red;
}

#div1 {
	background-color: rgba(0, 0, 255, 0.2); 
}

#div2 {
	background-color: rgba(255, 0, 0, 0.2);
}

.boxmodel {
	border: 5px solid red;
	display: inline-block;
	padding: 5px 20px;
	margin: 0px 20px;
}
