body {
	background-image: url(background.jpg);
	background-size: cover;
}

h2 {
	color: #2F7083;
	text-align: center;
	border: 5px solid #7AADBC;
	cursor: pointer;
}

p {
	/*color: pink;*/
	/*text-transform: uppercase;*/
	/*font-style: italic;*/
	font-weight: bold;
	font-family: "Poiret One", cursive;
}

li {
	list-style: none;
	display: inline-block;
}

.webtext {
	border: 5px dashed green;
}

.active {
	color: red;
}

#div1 {
	background-color: rgba(0, 0, 255, 0.2); 
}

#div2 {
	background-color: rgba(255, 0, 0, 0.2);
}
